.home{
  background-color: black;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color:white;
}
.top{
  position:absolute;
  top:0;
  font-size: 30px;
  color:white
}
.dashboard{
  min-height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  color:white;
  text-decoration: none;
}